<template>
    <!-- 主要内容区：标签内容 -->
    <!-- 方法:@click(点击) -->
    <button @click="addnum">{{ num纯文本}}</button>

    <!-- 插入html  intohtml是一个标签eg:intohtml:"<a href=""> title</a>"-->
    <div v-html="intohtml"></div>

    <!--  v-bind === ：-->
    <div v-bind="">属性绑定</div>
    <div v-if="">条件渲染</div>
    <div v-for="">列表渲染</div>
</template>

<script  setup>
    // 写JS代码区
    export default {
        //1. data:用于定义组件的初始状态(可以通过插值表达式 {{ }} 或 v-bind 指令来访问这些数据)
        data(){
            return {
            // 1.1对象名：{属性名:[],属性名:[]}
                num:0,
            }
        },

        //2. methods: 用于定义组件中的方法。(函数)
        methods: {
            // 2.1 方法名(){this.}
            addnum(){this.num++},
        },

        // 3. mounted: 是Vue组件的一个生命周期钩子，用于在组件挂载到DOM后执行一些操作。
        mounted() {
            console.log()
        },

        // 4.computed: 计算属性
        computed:{
            // 4.1 方法名(){this.}
            listishasshuju(){
                return this.listname.content.length>0?"yes":"No"
            }
        }
    }
</script>